body {
    background-color: #eae6e6;
    margin: auto;
    width: 80%;
    font-family: sans-serif;
    text-align: center;
    a
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;
}

table,th,td {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    
}
th,td {
    padding: 5px;
}
th {
    background-color: #4CAF50;
    color: white;
}

