body {
    background-color: #eae6e6;
    margin: auto;
    width: 80%;
    font-family: sans-serif;
    text-align: center;
    a
}
.center {
    margin: auto;
    width: 50%;
    border:1px solid #73AD21;
    padding: 10px;
}

table,th,td {
    border: 1px solid black;
    width: 100%;
    text-align: left;
    
}
th,td {
    padding: 5px;
}
th {
    background-color: #042a0f;
    color: #5adf1f;
}

